Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@G-uillaume 
G-uillaume
/
collection
1
0
0
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
collection/style.css
@G-uillaume
G-uillaume ajout de la barre de recherche et de la fonction de filtre
Latest commit 5f3288a 15 minutes ago
 History
 1 contributor
50 lines (42 sloc)  666 Bytes
  
html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.card {
    height: 100%;
    position: relative;
    padding-bottom: 4.5rem;
    box-shadow: 0 0 10px #aaa;
}

.card-footer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-footer i.fa-youtube {
    color: red;
}

.card-footer i {
    transition: all 0.3s ease-in-out;
}

.card-footer i:hover {
    font-size: 2rem;
}

.darkMode {
    position: absolute;
    top: 20px;
    right: 30px;
    border: none;
    cursor: pointer;
    outline: none
}
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
